<?xml version="1.0"?>
<config>
    <modules>
        <Finance_Provider_Pay>
            <version>1.0.0</version>
        </Finance_Provider_Pay>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <finance_provider_pay>
                    <file>finance_provider_pay.xml</file>
                </finance_provider_pay>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <pay>
                <class>Finance_Provider_Pay_Model</class>
            </pay>
            <price>
                <class>Finance_Provider_Price_Model</class>
            </price>
			<callback>
				<class>Finance_Provider_Pay_Model</class>
				<resourceModel>callback_resource</resourceModel>
			</callback>
			<callback_resource>
				<class>Finance_Provider_Pay_Model_Resource</class>
				<entities>
                    <lookup>
                        <table>finance_provider_lookup</table>
                    </lookup>
				</entities>
			</callback_resource>
        </models>

        <helpers>
            <Finance_Provider_Pay>
                <class>Finance_Provider_Pay_Helper</class>
            </finance_provider_pay>
        </helpers>

        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <updateDefaultProductPlans>
                        <class>Finance_Provider_Pay_Model_Observer</class>
                        <method>updateDefaultProductPlans</method>
                    </updateDefaultProductPlans>
                    <clearFinanceProviderCache>
                        <class>Finance_Provider_Pay_Model_Observer</class>
                        <method>clearCache</method>
                    </clearFinanceProviderCache>
                </observers>
            </admin_system_config_changed_section_payment>
            <sales_order_save_after>
                <observers>
                    <submitFulfilment>
                        <class>Finance_Provider_Pay_Model_Observer</class>
                        <method>submitFulfilment</method>
                    </submitFulfilment>
                </observers>
            </sales_order_save_after>
        </events>

        <blocks>
            <pay>
                <class>Finance_Provider_Pay_Block</class>
            </pay>
            <finance_provider_widget>
                <class>Finance_Provider_Widget_Block</class>
            </finance_provider_widget>
        </blocks>

        <resources>
            <finance_provider_pay_setup>
                <setup>
                    <module>Finance_Provider_Pay</module>
                    <class>Finance_Provider_Pay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </finance_provider_pay_setup>
            <pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pay_write>
            <pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pay_read>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <finance_plan_option />
                        <finance_plan_selection />
                    </product_attributes>
                </item>
            </quote>
        </sales>

    </global>

    <!-- declare default configuration values for this module -->
    <default>
        <payment>
            <pay>
                <active>1</active>
                <model>pay/Standard</model>
                <order_status>processing</order_status>
                <title>Pay in instalments</title>
                <debug>0</debug>
                <order_create_signed>0</order_create_signed>
                <fulfilment_update>0</fulfilment_update>
                <countries_allowed>GB</countries_allowed>
                <catalog_product_calculator_type>popup_widget</catalog_product_calculator_type>
            </pay>
        </payment>
    </default>
    <frontend>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Finance_Provider_Pay</module>
                    <frontName>pay</frontName>
                </args>
            </pay>
        </routers>
        <layout>
            <updates>
                <finance_provider_pay>
                    <file>finance_provider.xml</file>
                </finance_provider_pay>
            </updates>
        </layout>
    </frontend>
</config>
