<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pay translate="label" module="finance_provider_pay">
                    <label>Finance Payment</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API Key</label> 
                            <tooltip>The API-key is provided by your finance provider</tooltip>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website> 
                            <show_in_store>0</show_in_store> 
                            <sort_order>1</sort_order> 
                        </api_key>
                        <secret translate="label">
                            <label>Shared secret</label> 
                            <tooltip>The shared secret is available at the Divido Merchant portal. It's needed to verify webhooks from Divido, if you wish to do so.</tooltip>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website> 
                            <show_in_store>0</show_in_store> 
                            <sort_order>2</sort_order> 
                        </secret>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>3</sort_order>
                        </active>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>4</sort_order>
                        </debug>
                        <countries_allowed translate="label">
                            <label>Available in</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>The name of the payment option>
                            <sort_order>5</sort_order>
                        </countries_allowed>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <tooltip>The name of the payment option at checkout</tooltip>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>6</sort_order>
                        </title>
                        <product_page_widget translate="label">
                            <label>Show product page widget</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>7</sort_order>
                        </product_page_widget>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>8</sort_order>
                        </order_status>
                        <order_create_signed translate="label">
                            <label>Create order on signing</label>
                            <tooltip>Creates order when customer has signed contract. Default is when the application is accepted.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>9</sort_order>
                        </order_create_signed>
                        <fulfilment_update translate="label">
                            <label>Automatical fulfilment update</label>
                            <tooltip>When orders reaches a certain status, automatically set them as fulfilled in the Divido merchant portal.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>10</sort_order>
                        </fulfilment_update>
                        <fulfilment_order_status translate="label">
                            <label>Fulfilment status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>11</sort_order>
                        </fulfilment_order_status>
                        <cart_threshold translate="label">
                            <label>Cart amount limit</label>
                            <tooltip>Under this amount, Finance is not available as a payment option</tooltip>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>12</sort_order>
                        </cart_threshold>
                        <product_options translate="label">
                            <label>Product selection</label>
                            <frontend_type>select</frontend_type>
                            <source_model>FinanceProvider_Pay_Model_System_Config_Productoptions</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>13</sort_order>
                        </product_options>
                        <product_price_treshold translate="label">
                            <label>Price threshold</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>14</sort_order>
                        </product_price_treshold>
                        <finances_displayed translate="label">
                            <label>Displayed plans</label>
                            <frontend_type>select</frontend_type>
                            <source_model>FinanceProvider_Pay_Model_System_Config_Financeoptions</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>15</sort_order>
                        </finances_displayed>
                        <finances_list translate="label">
                            <label>Plans</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>FinanceProvider_Pay_Model_System_Config_Finances</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>The name of the payment option>
                            <sort_order>16</sort_order>
                        </finances_list>
                        <catalog_product_calculator_type translate="label">
                            <label>Product page calculator display type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Divido_Dfsco_Model_System_Config_Widgetoptions</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>21</sort_order>
                            <depends>
                                <catalog_product_calculator>
                                    <value>1</value>
                                </catalog_product_calculator>
                            </depends>
                        </catalog_product_calculator_type>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>17</sort_order>
                        </sort_order>
                    </fields>
                </pay>
            </groups>
        </payment>
    </sections>
</config>
